<div class="row" ng-controller="SupplementDiaryController as suppDiaryCtrl">
 <div class="page-header">
  <h1>Supplement Diary <small>&mdash; <em>keep track of your supplements</em></small></h1>
 </div>
      <span class="add-supplement col-sm-8">
      <button class="btn btn-lg btn-primary btn-block" ng-click="reviewFormCtrl.displayForm = !reviewFormCtrl.displayForm">{{reviewFormCtrl.displayForm ? "Hide Supplement Form" : "Add New Supplement"}}</button>
      </span>
      <div>   
      <review-form  ng-show="reviewFormCtrl.displayForm" supplements="suppDiaryCtrl.supplements" categories="suppDiaryCtrl.categories"></review-form>
      </div>

  <ul class="list-unstyled col-sm-8">

    <!--FILTER SUPPLEMENTS-->
    <form>
      <fieldset class="form-group">
      <div> 
        <input class= "form-control" ng-model="query" type="text" placeholder="Search Supplement Diary" autofocus>
      </div>
      </fieldset>
    </form>

    <li class="supplement row" ng-repeat="supplement in suppDiaryCtrl.supplements | filter:query | orderBy: '-rating' ">
       <!--SUPPLEMENT IMAGES + RATING DIRECTIVE-->
      <supplement-images></supplement-images>

      <div class="col-sm-9">
        <!--SUPPLEMENT INFO DIRECTIVE-->
        <supplement-info></supplement-info>
        <!--SUPPLEMENT REVIEW DIRECTIVE-->
        <supplement-reviews></supplement-reviews>
        <!--SUPPLEMENT CATEGORIES DIRECTIVE-->
        <supplement-categories categories="supplement.categories">></supplement-categories>
        <hr />
      </div>
    </li>
  </ul>
</div>
